<div class="col-8">
    <h1>Mariana</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate eligendi vel sequi quia suscipit sed illo
        labore excepturi doloremque deserunt sint, eveniet eaque, perspiciatis est tempora neque magnam modi. Quaerat!
    </p>
</div>
<div class="col-4">
    <img src="assets/img/mariana.jpg" class="img-thumbnail" alt="">
</div>